@model MVCCrudDemo.Models.ProductInfo
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <h4>Product Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name: @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            Price: @Html.DisplayFor(model => model.Price)
        </dt>
        <dt>
            Price: @Html.DisplayFor(model => model.Specifications)
        </dt>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to home</a>
     </form>
</div>

