@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="text-blue" asp-area="" asp-controller="Product" asp-action="Index"><img src="~/images/scooter.jpg" height="400" /></a>
    <p>Check our <a class="text-blue" asp-area="" asp-controller="Product" asp-action="Index">Products</a>.</p>
</div>
